mpv/*.dll filter=lfs diff=lfs merge=lfs -text
mpv/libmpv-2.dll filter=lfs diff=lfs merge=lfs -text
mpv/libmpv.so* filter=lfs diff=lfs merge=lfs -text
mpv/libmpv.2.dylib filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/ffplay.exe filter=lfs diff=lfs merge=lfs -text
ffmpeg/ffprobe filter=lfs diff=lfs merge=lfs -text
ffmpeg/ffmpeg filter=lfs diff=lfs merge=lfs -text
